/****************
SECTION 4
***************/
/* line 4, ../scss/sec4.scss */
#map-container {
  width: 100%;
  height: 400px;
}

/* line 9, ../scss/sec4.scss */
#map-canvas {
  width: 100%;
  height: 100%;
}
