/*******************
CONTACT PAGE
*******************/
.contact-wrap{
	color:#eaeaea;
	@include clearfix;
	max-width:$small-width;
	margin: 0 auto;
	width:100%;
}

.contact-form-wrap{
	float:left;
	width:100%;
	height:400px;
}

/*FORM*/
#contact-form input, #contact-form textarea{
	color:#444;
	width:96%;
	font-size: 14px;
	height: auto;
	padding: 15px 2%;
	margin: 0;
	resize: none;	
	border:none;
	margin-bottom:3px;
	background:#eee;
	border:1px solid #ccc;
	font-family:$primary-font, Arial, sans serif;
}

#contact-form input:focus, #contact-form textarea:focus{
	border:1px solid #999;
	outline:none;
	color:#444;
	background:#fff;
}

#contact-form textarea {resize:none;}

::-webkit-input-placeholder {   color:#666;}
:-moz-placeholder {   color:#666;}
::-moz-placeholder {     color:#666;}
:-ms-input-placeholder {  color:#666;}

/*submit btn*/
#contact-form input[type=submit]{
	padding:15px;
	background:$orange;
	color:#fff;
	text-align:center;
	cursor:pointer;
	width:100.5%;
	border:1px solid $orange;
}

#contact-form input[type=submit]:hover{background:$blue; border:1px solid $blue;}



