.header{
	background:$dark-grey;
	border-bottom:1px solid #eaeaea;	
	
	
	.main-nav{
		width:$small-width;
		margin: 0 auto;
		@include clearfix;
	}
	
	ul{
		margin: 0;
		padding:0;
		
		li{
			float:left;
			color:$light-grey;
			list-style:none;
			padding:15px 19px 15px 19px;
		}
		
		li.active, li:hover{
			padding:15px 19px 9px 19px;
			border-bottom:6px solid $orange;
			color:#fff;
			font-weight:bold;
		}
	}
}

.toggle-menu{
	width:60px;
	margin: 0 auto;
	height:55px;
	display:none;
	background-image:url(../img/toggle.png);
	background-position:center bottom;
	cursor:pointer;
	
	@include transition;
}

.toggle-active{
	background-position:center top;
}

.header .main-nav.nav-active{
	max-height:400px !important;
	@include transition;
}


