@import 'mixins';
@import 'normalize';

/*WIDTH*/
$large-width : 1200px;
$medium-width : 980px;
$small-width: 656px;

/*FONTS*/
$primary-font : Open Sans, Arial, sans-serif;
$secondary-font : Arial, sans-serif;

/*COLOR*/
$blue : #0087c9;
$orange: #dc4e23;
$dark-grey: #222222;
$med-grey: #666666;
$light-grey: #ccc;


body{font-family:$primary-font;}
a{	text-decoration:none;	color:$orange;}
a:hover{	text-decoration:underline;	color: #0093cc;}
p{padding:0; margin:0;}
span.bold{font-weight:bold;}



/*HEADER*/
.header{
	background:$dark-grey;	
	
	
	.main-nav{
		width:$small-width;
		margin: 0 auto;
		@include clearfix;
	}
	
	ul{
		margin: 0;
		padding:0;
		
		li{
			float:left;
			color:$light-grey;
			list-style:none;
			padding:15px 19px 15px 19px;
		}
		
		li.active, li:hover{
			padding:15px 19px 9px 19px;
			border-bottom:6px solid $orange;
			color:#fff;
			font-weight:bold;
		}
	}
}


/*CONTENT*/
.sec{
	width:100%;
	height:auto;
	@include clearfix;
}
.sec1{
	background:url(../img/bg1.png);
	overflow:hidden;
}

.intro{
	width:66%;
	padding:2%;
	float:left;
	
	.intro-wrap{
		width:$small-width;
		margin: 0 auto;
		
		
		#logo img{
			margin-left:22px;	
		}
		
		#about{
			text-align:center;
			color:$med-grey;
			
			div{
				margin-bottom:20px;
			}
			
			span.huge{
				display:block;
				width:100%;
				font-size:72px;
				font-weight:bold;
				color:$dark-grey;
				border-top:1px solid $light-grey;
				border-bottom:1px solid $light-grey;
				margin:15px 0 25px;
			}
			
			div:first-child p{
				font-size:24px;
				margin-top:25px;
			}
			
			div:nth-child(2) p{
				font-size:12px;
				line-height:120%;
			}
			
			
			
		}
	}	
}

.img-side{
	float:left;
	width:15%;
	background: blue;
	height:400px;
}














