@import 'mixins';
@import 'normalize';

/*WIDTH*/
$large-width : 1200px;
$medium-width : 980px;
$small-width: 656px;

/*FONTS*/
$primary-font : Open Sans, Arial, sans-serif;
$secondary-font : Arial, sans-serif;

/*COLOR*/
$blue : #0087c9;
$orange: #dc4e23;
$dark-grey: #222222;
$med-grey: #666666;
$light-grey: #ccc;


body{font-family:$primary-font; }
a{	text-decoration:none;	color:$orange;}
a:hover{color: $blue;}
p{padding:0; margin:0;}
span.bold{font-weight:bold;}



/*HEADER*/
@import 'header';


/*CONTENT*/
.sec{
	width:100%;
	height:auto;
	@include clearfix;
}

/*SEC1*/
@import 'sec1';





/*************
SECTION 2
****************/

.sec2{
	background:url(../img/bg2.jpg);
	border-top:1px solid #eaeaea;
}
.wrapper{
	max-width:$medium-width;
	width:96%;
	padding: 50px 2%;
	margin: 0 auto;
}	

.project-main-wrap{
	@include clearfix;
}

.sec-head{
	text-align:center;
	color:$light-grey;
	max-width:450px;
	width:100%;
	margin: 0 auto 50px;
	position:relative;
	
	div:first-child{
		margin-bottom:20px;
		font-size:18px;
		h2{
			color:#fff;
			margin-bottom:6px;
			font-size:32px;
		}
	}
	
}

.toggle-view{
	position:absolute;
	width:150px;
	height:80px;
	border:1px solid red;
	bottom:0;
	right:-266px;
	@include clearfix;
	
	.view{
		float:left;
		width:50px;
		height:50px;
		background:green;
		margin-left:10px;
		cursor:pointer;
		font-size:11px !important;
		height:16px;
	}
}


.project-wrap{
	width:100%;
	min-height:250px;
	background:#fff;
	margin-bottom:25px;
	overflow:hidden;
}	

.proj-img{
	height:250px;
	width:368px;
	background:$dark-grey;
	float:left;
	overflow:hidden;
	position:relative;
	border-right:1px solid #ccc;
	
	img{height:100%;	}
	.mask{
		width:100%;
		height:100%;
		background-color:rgba(220,78,35,0.9);
		position:absolute;
		top:100%;
		@include transition;
		
		color:#fff;
		text-align:center;
		line-height:400px;
		background-image:url(../img/mask.png);
		background-repeat:no-repeat;
		background-position:center;
	}
	
	&:hover .mask{
		top:0;
	}
}

.proj-description{
	width: auto;
	margin-left: 368px;
	height: 210px;
	padding: 20px;
	color:$med-grey;
	
	h2{
		margin:0px 0px 10px 0px;
		font-size:20px;
	}
	
	p{
		font-size:13px;
		margin-bottom:15px;
	}
	
	.tag{
		padding:2px 12px;
		border:1px solid $orange;
		font-size:12px;
		margin-right:5px;
		
		&:hover{
			background:$orange;
			color:#fff;
			cursor:pointer;
		}
	}
}


.img-lower{
	width:100%;
	height:147px;
	background:url(../img/lowbar.jpg);
}



/**************
TOGGLE VIEW CLASSES
*************/
.proj-wrap-thumb{
	width:33.3%;
	min-height:1px;
	float:left;
	margin-bottom:0px;
}

.proj-img-thumb{
	width:100%;
	height:auto;
}

.proj-img-img-thumb{
	height:auto !important;
	width:100%;
}

.spanClass{
	padding:0;
	display:block;
	margin:0;
	height:100%;
	margin-bottom:-3px;
}



/*******************
SECTION 3
*****************/
.sec3{
	padding:80px 0;
}
.sponsors-wrap{
	@include clearfix;
	width:90%;
	padding:0 5%;
}

.sp-w{
	@include clearfix;
	float:left;
	width:25%;
	
}

.sp{
	width:42%;
	padding:0 4%;
	float:left;
}

.sp img{
	width:100%;
	display:inline-block;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%);
	opacity:0.4;
	cursor:pointer;
	
	@include transition;
	
	
	&:hover{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(0%);
		opacity:1;	
	}


}




/****************
SECTION 4
***************/
#map-container{
	width:100%;
	height:400px;	
}

#map-canvas{
	width:100%;	
	height:100%;
	
}









/*******************************
REPONSIVE DESIGN
*********************************/
@media screen and (max-width: 1080px) {
	.sp-w{
		width:50%;	
		margin-bottom:20px;	
	}
}



@media screen and (max-width: 800px) {

	.sec1{
		height:auto;
	}
	.img-side{width:0; height:0; display:none;}
	.intro{
		width:90%;
		padding: 50px 5%;
	}
	
	.intro .intro-wrap #about div:first-child p{
		font-size:18px;
	}
	
	.intro .intro-wrap #about span.huge{
		font-size:56px;
	}
	
	.proj-wrap-thumb{
		width:50%;
	}

}




@media screen and (max-width: 650px){

	.arrow{display:none;}
	
	.project-wrap{
		height:auto;
	}
	
	.proj-description{
		width:92%;
		height:auto;
		margin-left:0;
		padding:4%;
	}
	.proj-img {
		height:auto;
		width:100%;
		background:none;
		float:none;
		
		img{
			width:100%;
		}
		.mask{
			line-height:330px;
		}
	}

	
	.wrapper{
		padding:50px 5%;
		width:90%;
	}
	
	.toggle-menu{
		display:block;
	}
	
	.header{
		min-height:55px;
		
		.main-nav{		
			overflow:hidden;
			width:100%;
			max-height:0;
			
			@include transition;
			
		
		ul{
			li{
				float:none;
				width:100%;
				text-align:center;
				padding:16px 0;
				border-top: 1px solid #333;
			   }
			 li.active, li:hover, li:active{
				padding:16px 0;
				border-bottom:none;
				background:$orange;
				font-weight:normal;
			}  
		   }
	   }
	}
	
	.sp-w{
		width:100%;
		margin-bottom:20px;		
	}

}






@media screen and (max-width: 450px){

    .intro .intro-wrap #about span.huge{
		font-size:42px;
	}
	
	.proj-wrap-thumb{
		width:100%;
		margin-bottom:25px;
	}


}












.slideInDown{
	-moz-animation:slideInDown 0.7s cubic-bezier(0,.76,.13,1);
	-webkit-animation:slideInDown 0.7s cubic-bezier(0,.76,.13,1);
	animation:slideInDown 0.7s cubic-bezier(0,.76,.13,1);
	o-animation:slideInDown 0.7s cubic-bezier(0,.76,.13,1);
}	

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}







/*SLIDE UP*/
.slideInUp{
	-moz-animation:slideInUp 0.7s cubic-bezier(0,.76,.13,1);
	-webkit-animation:slideInUp 0.7s cubic-bezier(0,.76,.13,1);
	animation:slideInUp 0.7s cubic-bezier(0,.76,.13,1);
	o-animation:slideInUp 0.7s cubic-bezier(0,.76,.13,1);
}	

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}













